# Ignore artifacts:
build
coverage

# Ignore all node_modules folders:
node_modules

# Ignore logs:
*.log

# Ignore environment variable files:
.env

# Ignore specific files or directories:
dist
public